                                     /* My header */
body{
    background-color: #9ED2BE;
 /* background-image: url(../image/download.jpg);
background-repeat: no-repeat;
background-size: 100% 100%; */
}

.myHeader{
background: linear-gradient(rgb(150, 206, 235), rgb(51, 207, 51));
height: 220px;
padding-top: 10px;
margin: -8px;

}
h3{
font-family: Arial, Helvetica, sans-serif;
}
                                    
ul{
margin: 0px 20px 10px 20px ;
padding: 5px 10px 10px 10px;
display: flex;
align-items: flex-start;
justify-content: space-around;
flex-direction: row;
list-style-type: none;

}
button{
    background-color: #7EAA92;
    border: 1px solid black;
    border-radius: 12px;
    padding: 5px 8px;
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
    font-family:  'REM', sans-serif;
}  

button:hover{
    background-color: rgb(143, 127, 58);
    size: 120%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

                                                                            /* Profile image */
.img{
border: 2px solid rgb(38, 244, 248);
border-radius: 100%;
height: 200px;
width: 200px;
margin-top: 70px;
}
                                                                            /* Profil */
.profil{
margin-top: 135px;
}

table{
    margin-top: 200px;
}
                                                                           /* Table Formation */
.tableFormation{
border: 2px dotted blue;
margin-left: 100px;
margin-top: 200px;
padding: 10px;
height: 200px;
text-align: center;
}

.tableFormation>tr:hover {
    background-color: coral;
    width: 200px;
}
td{
    text-align: left;
    width: 150px;
}
th{
    text-align: left;
    width: 200px;
}
                                                                           /* Table Compétance */
.com{
    margin: 200px 20px 10px 20px;
    width: 100%;

}
.space{
    height: 28px;
}
                                                                           /* Table experience */
.tableExperience{
    margin-top: 200px;

}
#table5{
    margin-top: 200px;
}